node_modules
jspm_packages
bower_components
.idea
.DS_STORE
/dist
build/reports
coverage
test/e2e/dist
.editorconfig

.eslintignore
.eslintrc
.npmignore
README.md
aurelia.protractor.js
build/
config.js
contacts.json
doc/
favicon.ico
gulpfile.js
index.html
index.js
jsconfig.json
karma.conf.js
package.json
protractor.conf.js
wallaby.js

